#editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
}

#json-editor {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 80%;
    top: 5%;
    border: 2px solid black;
    resize: none;
}

#update-button {
    position: absolute;
    right: 5%;
    top: 90%;
}

#career-map {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    border-left: 2px solid black;
}